---
# tasks file for lockdown-linux

- import_tasks: prep.yml

- import_tasks: "{{ ld_task_file }}"
  vars:
    ld_rule_name: sshd_use_approved_macs

- import_tasks: "{{ ld_task_file }}"
  vars:
    ld_rule_name: sshd_use_approved_ciphers

- import_tasks: clean.yml
